p,
.splendor-p {
  font-size: 1rem;
  margin-bottom: 1.3rem;
}

h1,
.splendor-h1,
h2,
.splendor-h2,
h3,
.splendor-h3,
h4,
.splendor-h4 {
  margin: 1.414rem 0 .5rem;
  font-weight: inherit;
}

h1,
.splendor-h1 {
  margin: 1rem auto 1rem;
  font-size: 3.998rem;
}

h2,
.splendor-h2 {
  margin: 1rem auto 1rem;
  font-size: 2.827rem;
}

h3,
.splendor-h3 {
  margin: 1rem auto 1rem;
  font-size: 1.999rem;
}

h4,
.splendor-h4 {
  margin: 1rem auto 1rem;
  font-size: 1.414rem;
}

h5,
.splendor-h5 {
  margin: 1rem auto 1rem;
  font-size: 1.121rem;
}

h6,
.splendor-h6 {
  margin: 1rem auto 1rem;
  font-size: .88rem;
}

small,
.splendor-small {
  margin: 1rem auto 1rem;
  font-size: .707em;
}

/* https://github.com/mrmrs/fluidity */

img,
canvas,
iframe,
video,
svg,
select,
textarea {
  max-width: 100%;
}

@import url(http://fonts.googleapis.com/css?family=Merriweather:300italic,300);

html {
  font-size: 18px;
  max-width: 100%;
}

body {
  color: #444;
  font-family: 'Merriweather', Georgia, serif;
  margin: 0;
  max-width: 100%;
}

p,
* {
  max-width: 36rem;
}

ul {
  margin: 1rem auto 1rem;
}

li {
  margin-left: -1rem;
  line-height: 1.141;
}

p {
  color: #555;
  height: auto;
  line-height: 1.141;
  margin: 1rem auto 1rem;
}

.container {
  margin: 0 auto 0;
  display: flex;
  align-items: start;
  max-width: 46rem; /* Max combined width for the container and its contents */
}
.container img {
  padding-top: 1rem;
  padding-left: 2rem;
  max-width: 17rem;
  height: auto;
}
.text-content {
  flex: 1;
}